body{
    background-color: #eee;
}
.container.add-product{
    min-height: 100vh;
    margin: 30px auto ;
    width: 70%;
    /* box-shadow: 5px 10px 18px #888888; */

}
.add-product legend{
    margin: 10px 0 25px 5px;
}
.add-product .form-horizontal{
    padding: 30px;
    border-radius: 5px;
    border: 2px solid rgb(240, 240, 240);
    background-color: #F5F5F5;
    box-shadow: 5px 10px 18px #888888;
}
.add-product .form-horizontal .form-group{
    margin: 20px 0;
}
.add-product .form-horizontal .form-group label{
    margin-bottom: 3px;
}