body{
    background-color: #eee;
}
.app-product-btn{
    border: 2px solid darkslategrey;
    border-radius: 5px;
    color: darkslategrey;
}
.app-product-btn:hover{
    background-color: darkslategrey;
    color: white;
}
.imagecover{
    height: 160px;
    overflow: hidden;
}
.productImage{
    height: 100%;
    /* object-fit: fill; */
}

.mi-card{
    cursor: pointer;
}
.mi-card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: inherit;
    text-decoration: none;
}