body{
  background-color: #eee;
}
.search{
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  min-width: 300px;
  height: 45px;
  border-radius: 10px;
  margin: 5px 50px;
}
.search input{
  outline: none;
  margin-right: 5px;
  width: 50%;
  height: 25px;
  border-radius: 10px;
  width: 100%;
  border: none;
  margin-left: 15px;
}
.search i{
  background-color: green;
  padding: 14px 15px;
  color: white;
  font-size: 18px;
}
.search i:hover{
  background-color: lightgreen;
  cursor: pointer;
}
.searchview{
  overflow: hidden;
  /* background-color: white; */
  border-radius: 10px;
  padding: 0 50px;
}
.customrow{
  display: flex;
  margin: 20px auto;
  justify-content: space-between;
  align-items: center;
  /* padding: 8px 0px 12px; */
  /* border: 1px solid green; */
  background-color: white;
  padding: 15px 20px;
  /* box-shadow: 3px 3px 3px lightgreen; */
  height: 70px;

}

.rowheading{
  box-shadow: none;
  overflow: hidden;
  padding: 0 20px;
  background-color: lightgreen;
  height: 50px;
  margin-bottom: -10px;
}
.rowheading  .bullet{
width: 15px;
height: 100px;
}
.rowheading .main{
  width: 100%;
  border-right: 2px solid white;
}
.rowheading h5{
  margin: 0;
}
.rowheading .more{
  margin-left: 20px;
  width: 80px;
  height: auto;
  text-align: center;
}


.main{
  display: flex;
  align-items: center;
}
.main .bullet{
  /* background-color: brown; */
  color: lightgreen;
  overflow: hidden;
  margin-right: 15px;
}
.bullet img{
  height: 100%;
  width: 100%;
}