body {
  font-family: "Poppins", sans-serif;
  background-color: #eee;

}

.banner {
  height: 90vh;
  overflow: hidden;
  margin: 0 0 30px 0;
}

.banner .card {
  border: none;
  height: 100%;
  overflow: hidden;
}
.banner .card img {
  height: -webkit-fill-available;
  opacity: 0.5;
}
.banner .card-img-overlay {
  margin: 10% 15% 0 10%;
}
.banner .card-img-overlay span.A {
  color: crimson;
  font-size: 1.3em;
}
.banner .card .card-img-overlay .card-title {
  font-family: "Source Serif 4", sans-serif;
  margin-bottom: 2%;
  color: limegreen;
}
.banner .card .card-img-overlay .card-text {
  text-justify: inter-word;
  margin-bottom: 2%;
}
.banner .card button {
  font-family: sans-serif;
  margin-top: 10px;
  padding: 0.8% 3%;
  border: 3px solid limegreen;
  background-color: transparent;
  color: limegreen;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2em;
}
.button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.button:hover {
  background-color: white;
  color: blue;
  cursor: pointer;
}
.banner .card button:hover {
  border: 3px solid white;
  background-color: white;
  color: limegreen;
}
@media only screen and (max-width: 480px){
  .banner{
    height: 60vh;
    font-size: 80%;
  }

}

/* bottom Arrow */

.wrapper {
  width: 100%;
  /* height: 100%; */
  margin-bottom: 50px;
}

.arrow {
  width: 38px;
  height: 14px;
  margin: auto;
  margin-bottom: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  opacity: 0.6;
  transition: ease 1s;
  animation: bouncey 1.6s linear infinite;
}
.arrow:hover {
  animation-play-state: paused;
}
.arrow ul {
  list-style: none;
}
.arrow ul li {
  width: 24px;
  height: 4px;
  background: white;
}
.arrow ul li:nth-child(1) {
  left: 0;
  top: 0;
  position: absolute;
  transform: rotate(45deg);
  border-radius: 5px 0 0 5px;
}
.arrow ul li:nth-child(2) {
  left: 14px;
  position: absolute;
  border-radius: 0 5px 5px 0;
  top: 0;
  transform: rotate(-45deg);
}
.arrow:hover {
  opacity: 1;
}

@keyframes bouncey {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Explore Part */
#home-main-title {
  font-family: "Source Serif 4", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  height: max-content;
}
#home-main-title h3 {
  font-size: 2em;
  color: limegreen;
  padding-bottom: 10px;
  border-bottom: 2px solid limegreen;
}
.home-main {
  height: 100%;
  width: 70%;
  padding: 10px;
}
.home-main .row .col .card {
  border: none;
  border-radius: 8px;
  overflow: hidden;
}
.home-main .card {
  padding: 0px;
  height: 100%;
  box-shadow: 5px 10px 18px #888888;
  overflow: hidden;
}
.home-main .card .card-img-overlay {
  /* background-color: rgba(46, 139, 86, 0.521); */
  display: flex;
  background-color: rgba(50, 205, 50, 0.63);
  text-align: center;
  margin: 20px;
  transition: all 0.5s ease-in-out;
}
.home-main .card .card-img-overlay:hover {
  animation: featurehover 2s ease-in-out;
  animation-fill-mode: forwards;
  transition-timing-function: ease-in-out;
  transform: scale(1.3);
}
@keyframes featurehover {
  0% {
    background-color: rgba(50, 205, 50, 0.63);
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}

.home-main .card .card-img-overlay .card-title {
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  margin: auto;
}
.home-main .row .col .card img {
  height: 100%;
}

.quote {
  margin: 50px 0;
}
.blockquote-footer {
  background-color: transparent;
}
.quote .blockquote-custom {
  position: relative;
  font-size: 1.1rem;
}

.quote .blockquote-custom-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  left: 50px;
  background-color: limegreen;
  color: white;
}
.blockquote-custom .blockquote-footer {
  border-top: 0.15em solid;
  border-color: limegreen;
}
