.techheading {
  font-weight: bolder;
  padding: 20px 20px 0px 20px;
  color: #444;

}
body{
  background-color: #eee;
}

.info {
  padding: 20px;
  background-color: rgba(144, 238, 144, 0.26);
}

.info p strong {
  color: #444;
}
.infobody{
  padding-bottom: 25px;
}
.main {
  border-radius: 5px;
  box-shadow: 0px 5px 8px #888888;
  padding: 20px;
  background-color: white;
  min-height: 600px;
}


.plantimg {
  overflow: hidden;
  height: 250px;
  width: 500px;
}

.plantimg img {
  height: 100%;
  width: 100%;

}
a{
  text-decoration: none;
}

.linkheading,
.infoheading {
  color: #444;
}