@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
html,body{
    background-image: url(BA31.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    font-size: 15px;
    
    
    
    
}

.h2, h2 {
    font-size: 2rem;
    font-size: 40px;
    text-decoration: underline;
}
.h1, h1 {
    color: #0a1e0b;
    
    font-variant-caps: all-petite-caps;
    font-size: 2rem;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
}
::selection{
    color: #fff;
    background: #585c56;
}
.container{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate3d(-49px, -201px, 10px);
}
.container .form{
    background-image: url(Ab2.jpg);
    background-size: cover;
    padding: 30px 35px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .form form .form-control{ 
    height: 40px;
    font-size: 13px;
    
}
.form-control{
border-radius: 6px;
}
.container .form form .forget-pass{
    margin: -15px 0 15px 0;
    
}
.container .form form .forget-pass a{
    color: #142a10f0;
   font-size: 15px;
   text-align: right;
}
.text-left {
    text-align: right!important;
}
.container .form form .button{
    background: #0a1e0b;
    
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    font-variant-caps: all-petite-caps;
    transition: all 0.3s ease;
}
.container .form form .button:hover{
    
    background:rgb(93 119 94);
}
.container .form form .link{
    text-decoration: underline;
    padding: 5px 0;
}
.container .form form .link a{
    font-weight: bold;
    color: #142a10f0;
}
.container .login-form form p{
    font-size: 14px;
}
.container .row .alert{
    font-size: 14px;
}
